<section class="animated fadeInRight">
    <loading-spinner ng-if="loading"></loading-spinner>
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-list fa-fw"></i> {{title}}
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </header>
            <div ng-if="!loading" class="panel-body">
                <div class="step-pane active">
                    <div class="form-group">
                        <label>Name </label>
                        <input autofocus placeholder="Name" type="text" class="form-control" ng-model="stream.name" required>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <button type="submit" ng-click="save(stream)" class="btn btn-primary pull-left">Save
                    </button>
                    <button type="button" onclick="(history.go(-1))" class="btn btn-default pull-right">
                        Cancel</button>
                </div>
            </footer>
        </div>
    </div>
</section>

