<section class=" animated fadeInLeft">


    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-list"></i> Classes </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span ng-if="loading">Loading ...</span>
                    <span class="pull-right badge badge-primary">{{totalItems}}</span>
                    <h3 class="panel-title">&nbsp;</h3>
                </div>

                <div class="panel-body">
                    <div class="row text-small">
                        <div ng-if="canEdit" class="col-sm-4 m-b-mini">
                            <button ui-sref="classadd" class="btn btn-sm btn-primary">
                                <i class="fa fa-plus"></i> Add Class</button>
                        </div>
                        <div class="col-sm-4 pull-right">
                            <div class="input-group">
                                <input ng-model="searchText" type="text" class="input-sm form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button disabled="true" class="btn btn-sm btn-white" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <loading-spinner ng-if="loading"></loading-spinner>
                    <div ng-if="!loading" class="table-responsive">
                        <table class="table table-striped b-t text-small">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th width="30"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="class in classes | itemsPerPage: itemsPerPage | filter:searchText">
                                    <td class="caps">
                                        {{class.name }}
                                    </td>
                                    <td class="pull-right">
                                        <a class="btn btn-sm btn-default" ui-sref="classedit({id : class.id}) "> Edit</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <small class="text-muted inline m-t-small m-b-small">showing {{classes.length}} of {{totalItems}} items</small>
                        </div>
                        <div class="col-sm-6 text-right text-center-sm">
                            <dir-pagination-controls></dir-pagination-controls>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>