<!DOCTYPE html>
<html lang="en" data-ng-app="churchApp">

<head>
    <meta charset="utf-8">
    <title>Kidfarmaco Primary</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="assets/css/lib/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/lib/ionicons/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.css" id="theme-css" />
    <link rel="stylesheet" href="assets/css/custom.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link rel="icon" href="assets/images/favicon.png">
    <script>
        const electron = require("electron");
        const ipc = electron.ipcRenderer;
    </script>
    <style>
    </style>

    <!-- angular -->
    <script src="shared\angular.js"></script>
    <script src="shared\angular-ui-router.js"></script>
    <script src="shared\ngStorage.js"></script>
    <script src="shared\angular-resource.js"></script>
    <script src="node_modules\angular-utils-pagination\dirPagination.js"></script>
    <script src="node_modules\angular-ui-bootstrap\dist\ui-bootstrap-tpls.js"></script>
    <script src="node_modules\ui-select\dist\select.min.js"></script>

    <script src="shared\ngToast\ngToast\dist\ngToast.min.js"></script>
    <script src="shared/ngToast/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules\ui-select\dist\select.min.js"></script>
    <link rel="stylesheet" href="node_modules\ui-select\dist\select.min.css" type="text/css" />
    <script src="shared/bower_components/angular-csv-import/dist/angular-csv-import.js"></script>
    <script src="node_modules\chart.js\dist\Chart.js"></script>
    <script src="node_modules\angular-chart.js\dist\angular-chart.js"></script>
    <!-- services -->
    <script src="shared\services\services.js"></script>
    <script src="shared\services\database.js"></script>
    <!-- controllers -->
    <script src="pages\login\login.controllers.js"></script>
    <script src="pages\dashboard\dashboard.controllers.js"></script>
    <script src="pages\search\search.controllers.js"></script>
    <script src="pages\students\students.controllers.js"></script>
    <script src="pages\users\users.controllers.js"></script>
    <script src="pages\fees\fees.controllers.js"></script>
    <script src="pages\classes\classes.controller.js"></script>
    <script src="pages\streams\streams.controller.js"></script>
    <script src="shared\router.js"></script>
    <script src="shared\app.js"></script>
    <script src="shared\directives\loading.js"></script>
</head>
<!-- / nav -->

<body ng-controller="mainController as MC">

    <header ng-show="MC.displayMenu()">
        <nav class="navbar navbar-default navbar-transparent">
            <div class="container" id="nav-container">
                <div class="navbar-header">
                    <button class="navbar-toggle navbar-toggle-settings" data-target="#top-navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="ion ion-ios7-gear-outline"></i>
                    </button>
                    <a class="navbar-brand logo" href="#">

                        <img src="assets/images/logo.png" class="logo img-responsive">

                    </a>
                    <div class="navbar-side-menu-toggle">
                        <button class="toggle-btn" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <form class="navbar-form pull-left shift" ng-submit="search(searchParam)" data-toggle="shift:appendTo" data-target=".nav-primary">
                    <i class="fa fa-search text-muted"></i>
                    <input type="text" class="form-control" ng-model="searchParam" placeholder="Search student">
                </form>
                <div class="collapse navbar-collapse" id="top-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                                <i class="fa fa-user"></i> {{MC.loggedInUser()}}
                                <i class="fa fa-angle-down"></i>

                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="my-settings">
                                        <i class="fa fa-gears fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ui-sref="home" target="_blank">
                                        <i class="fa fa-sign-out fa-fw"></i> Main Site</a>
                                </li>
                                <li>
                                    <a ui-sref="logout">
                                        <i class="fa fa-key fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="content-container">
        <div class="content-wrapper">
            <div class="row">
                <div class="side-nav-content">
                    <div class="container" id="content-container">
                        <div class="content-wrapper">
                            <div class="row">
                                <div class="side-nav-content">
                                    <div ng-if="MC.displayMenu()" class="left-side-wrapper">
                                        <div class="left-side sticky-left-side">
                                            <div class="left-side-inner">
                                                <br>
                                                <br>
                                                <ul class="nav nav-pills nav-stacked custom-nav">
                                                    <li class="nav-header">School Overview</li>
                                                    <li class="menu-list nav-active current ">
                                                        <li ng-class="{active: MC.stateName().startsWith('dashboard')}">
                                                            <a ui-sref="dashboard">
                                                                <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                                        </li>
                                                    </li>
                                                    <li class="nav-header">School Details</li>
                                                    <li class="menu-list ">
                                                        <li ng-class="{active: MC.stateName().startsWith('student')}">
                                                            <a ui-sref="students">
                                                                <i class="fa fa-list-ol fa-fw"></i> Students</a>
                                                        </li>
                                                        <li ng-class="{active: MC.stateName().startsWith('classe')}">
                                                            <a ui-sref="classes">
                                                                <i class="fa fa-list-ol fa-fw"></i> Classes</a>
                                                        </li>
                                                        <li ng-class="{active: MC.stateName().startsWith('stream')}">
                                                            <a ui-sref="streams">
                                                                <i class="fa fa-list-ol fa-fw"></i> Streams</a>
                                                        </li>
                                                    </li>

                                                    <li class="nav-header">Fees Management</li>
                                                    <li class="menu-list">
                                                        <li ng-class="{active: MC.stateName() == 'fee-setup'}">
                                                            <a ui-sref="fee-setup">
                                                                <i class="fa fa-gears fa-fw"></i> Setup</a>
                                                        </li>
                                                        <li ng-class="{active: MC.stateName() == 'fee-payment'}">
                                                            <a ui-sref="fee-payment">
                                                                <i class="fa fa-money fa-fw"></i> Payment</a>
                                                        </li>
                                                        <li ng-class="{active: MC.stateName() == 'fee-reports'}">
                                                            <a ui-sref="fee-reports">
                                                                <i class="fa fa-bar-chart-o fa-fw"></i> Reports</a>
                                                        </li>
                                                    </li>

                                                    <li class="nav-header">User Management</li>
                                                    <li ng-class="{active: MC.stateName().startsWith('user')}">
                                                        <a ui-sref="users">
                                                            <i class="fa fa-users fa-fw"></i> Users</a>
                                                        <li>
                                                            <a ui-sref="logout">
                                                                <i class="fa fa-key fa-fw"></i> Logout</a>
                                                        </li>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-class="MC.displayMenu() ? 'main-content-wrapper ' : 'main-content-wrapper full'">
                                        <div class="main-content">
                                            <section>
                                                <div class="container-fluid container-padded">
                                                    <toast></toast>
                                                    <div data-ui-view=""></div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li>
                            <small>&copy; 2016 PashaMzazi</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <a ui-sref="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
</body>

</html>