<section class="animated fadeInRight">
    <loading-spinner ng-if="loading"></loading-spinner>
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-th-list"></i> {{ student.surname }} {{ student.otherNames }}
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">
                    Personal Details
                </h3>
            </header>
            <div class="panel-body">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label>Full Name</label>
                                        <div class="caps pull-right">
                                            <span>
                                                {{ student.surname }} {{ student.otherNames }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label for="">Class</label>
                                        <div class="pull-right">
                                            <span>
                                                {{student.className}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label for="">Stream</label>
                                        <div class="pull-right">
                                            <span>
                                                {{student.streamName}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label for="">Phone Number</label>
                                        <div class="pull-right">
                                            <span>
                                                {{student.phone1}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label for="">Phone Number #2</label>
                                        <div class="pull-right">
                                            <span>
                                                {{student.phone2}}
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">
                    Payment History
                </h3>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <th>
                            <strong>Date</strong>
                        </th>
                        <th class=" text-right">
                            <strong>Paid By</strong>
                        </th>
                        <th class=" text-right">
                            <strong>Payment Reference</strong>
                        </th>
                        <th class=" text-right">
                            <strong>Term</strong>
                        </th>
                        </th>
                        <th class=" text-right">
                            <strong>Amount Paid</strong>
                        </th>
                        <th class=" text-right">
                            <strong>Balance</strong>
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pay in history">
                            <td>{{pay.dateCreated}}</td>
                            <td>{{pay.paidBy}}</td>
                            <td>
                                <a ui-sref="fee-receipt({id:pay.id})">
                                    {{pay.reference}}
                                </a>
                            </td>
                            <td>{{pay.term}},{{pay.year}}</td>
                            <td class=" text-right">Ksh. {{pay.amountPaid}}</td>
                            <td class=" text-right">Ksh. {{pay.balance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <a type="button" ui-sref="studentdetail({id:student.id-1})" class="btn btn-sm btn-primary pull-left">Previous</a>
                    <a type="button" ui-sref="studentdetail({id:student.id+1})" class="btn btn-sm btn-default pull-right">Next</a>
                </div>
            </footer>
        </div>
    </div>
</section>