<section class="animated fadeInRight">
    <loading-spinner ng-if="loading"></loading-spinner>
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-plus fa-fw"></i> {{title}}
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </header>
            <div class="panel-body">
                <div class="row col-md-12">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>Class</label>
                            <select class="form-control" ng-model="student.class">
                                <option ng-repeat="cla in classes" value="{{cla}}"> {{cla.name}} </option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>Stream</label>
                            <select class="form-control" ng-model="student.stream">
                                <option ng-repeat="str in streams" value="{{str}}"> {{str.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail1">Student Id</label>
                        <input type="text" required ng-model="student.studentid" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" required ng-model="student.surname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Other Names</label>
                        <input type="text" required ng-model="student.otherNames" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Phone Number #1</label>
                        <input type="number" required ng-model="student.phone1" minlength="10" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Phone Number #2</label>
                        <input type="number" required ng-model="student.phone2" minlength="10" class="form-control">
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <button ng-if="action=='add'" type="button" ng-click="save(student)" class="btn btn-sm btn-primary pull-left">Save</button>
                    <button ng-if="action=='edit'" type="button" ng-click="save(student)" class="btn btn-sm btn-primary pull-left">Save Changes</button>
                    <button type="button" class="btn btn-sm btn-default pull-right" onclick="(history.go(-1))">Close</button>
                </div>
            </footer>
        </div>
    </div>
</section>