<section class="animated fadeInLeft">
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-users"></i> Students
            </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div ng-click="invert()" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="hand panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-filter"></i> Filters: {{narrative}}
                            <i ng-class="display ? 'fa fa-caret-up pull-right' : 'fa fa-caret-down pull-right'"></i>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Class</label>
                                    <select class="form-control" ng-model="filters.class">
                                        <option ng-repeat="cla in classes" value="{{cla}}"> {{cla.name}} </option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Stream</label>
                                    <select class="form-control" ng-model="filters.stream">
                                        <option ng-repeat="str in streams" value="{{str}}"> {{str.name}} </option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row col-md-12">
                                <button ng-click="initiliseFilters()" type="button" class="btn btn-sm btn-default pull-left">Clear Filters</button>
                                <button data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" ng-click="filter(filters);invert()" type="button"
                                    class="btn btn-sm btn-primary pull-right">Go</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-default">
                <header class="panel-heading caps">
                    <span ng-if="loading">Loading</span> Students
                    <span class="pull-right badge badge-primary">{{totalItems}}</span>
                </header>
                <div ng-if="students" class="panel-body">
                    <div class="row text-small">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input ng-model="filterText" type="text" class="input-sm form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button disabled="true" class="btn btn-sm btn-white" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 m-b-mini pull-right">
                            <select ng-model="itemsPerPage" class="input-sm inline form-control" style="width:130px">
                                <option ng-click="itemsPerPage = 10">10</option>
                                <option ng-click="itemsPerPage = 25">25</option>
                                <option ng-click="itemsPerPage = 50">50</option>
                                <option ng-click="itemsPerPage = 100">100</option>
                            </select>
                            <span>({{itemsPerPage}}) Items Per Page</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <loading-spinner ng-if="loading"></loading-spinner>
                <tr ng-if="!loading" class="table-responsive">
                    <table class="table table-responsive table-hover table-condensed text-small">
                        <thead>
                            <div>
                                <th>Admission Number</th>
                                <th>Name</th>
                                <th>Class</th>
                                <th>Stream</th>
                                <th>Phone Number # 1</th>
                                <th>Phone Number # 2</th>
                                <th>Actions</th>
                            </div>
                        </thead>
                        <tbody>
                            <tr dir-paginate="student in students | itemsPerPage: itemsPerPage | filter:filterText">
                                <td>{{student.studentid}}</td>
                                <td class="caps">
                                    <a ui-sref="studentdetail({id:student.id})">
                                        {{student.surname }} {{student.otherNames }}
                                    </a>
                                    
                                </td>
                                <td>{{student.className}}</td>
                                <td>{{student.streamName}}</td>
                                <td>{{student.phone1}}</td>
                                <td>{{student.phone2}}</td>
                                <td class="pull-right">
                                        <a class="btn btn-sm btn-default" ui-sref="studentedit({id : student.id}) "> Edit</a>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
        </div>
        <footer class="panel-footer">
            <div class="row">

                <div class="col-sm-6 text-left">
                    <small class="text-muted inline m-t-small m-b-small">showing {{itemsPerPage}} of {{totalItems}} items</small>
                </div>

                <div class="col-sm-6 text-right text-center-sm">
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </footer>
        </section>
    </div>

    </div>
</section>