<section class="animated fadeInLeft">
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-users"></i> Students
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-body">
            <a ui-sref="studentadd" class="col-lg-4 col-md-4 col-xs-6 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <i class="fa fa-plus fa-5x pull-left"></i>
                        <span class="pull-right">Add
                            <br>
                            <loading-spinner ng-if="countersloading"></loading-spinner>
                            <span ng-if="!countersloading" class="large-text ">{{counters.districts}}</span>
                        </span>
                    </div>
                </div>
            </a>
            <a ui-sref="studentupload" class="col-lg-4 col-md-4 col-xs-6 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <i class="fa fa-upload fa-5x large-text pull-left"></i>
                        <span class="pull-right">Upload
                            <br>
                            <loading-spinner ng-if="countersloading"></loading-spinner>
                            <span ng-if="!countersloading" class="large-text ">{{counters.groups}}</span>
                        </span>
                    </div>
                </div>
            </a>
            <a ui-sref="studentlist" class="col-lg-4 col-md-4 col-xs-6 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <i class="fa fa-list-ol fa-5x large-text pull-left"></i>
                        <span class="pull-right">List
                            <br>
                            <loading-spinner ng-if="countersloading"></loading-spinner>
                            <span ng-if="!countersloading" class="large-text ">{{counters.groups}}</span>
                        </span>
                    </div>
                </div>
            </a>
            <hr>
        </div>
    </div>

</section>