<section id="content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-users"></i> Upload Students
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-white">
            <div ng-show="step == 1">
                <div>
                    <ul class="progress-indicator">
                        <li class="completed">
                            <span class="bubble"></span> Step 1. </li>
                        <li>
                            <span class="bubble"></span> Step 2. </li>

                    </ul>
                </div>
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Students Bulk Upload</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label>Class</label>
                        <select class="form-control" ng-model="class">
                            <option ng-repeat="cla in classes" value="{{cla}}"> {{cla.name}} </option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label>Stream</label>
                        <select class="form-control" ng-model="stream">
                            <option ng-repeat="str in streams" value="{{str}}"> {{str.name}} </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <br>
                        <div class="form-group">
                            <label class="control-label">Select your CSV file:</label>
                            <ng-csv-import class="import" content="csv.content" header="csv.header" header-visible="csv.headerVisible" separator="csv.separator"
                                separator-visible="csv.separatorVisible" result="csv.result" encoding="csv.encoding" encoding-visible="csv.encodingVisible"
                                upload-button-label="csv.uploadButtonLabel" progress-callback="csv.progressCallback" streaming-callback="csv.streamingCallback"
                                streaming-error-callback="csv.streamingCallback"></ng-csv-import>
                        </div>
                        <div class="form-group" ng-if="progress">
                            <md-progress-linear md-mode="determinate" class="md-warn" value="{{progress}}"></md-progress-linear>
                        </div>
                        <div class="form-group" ng-if="csv.result">
                            <div class="content" hljs source="toPrettyJSON(preview, 2)"></div>
                            <pre>Records found: {{ csv.result.length }}</pre>
                        </div>
                        <div class="">
                            <button class="btn btn-primary btn-nav pull-right" ng-if="csv.content" ng-click="nextStep()">Next </button>
                            <a class="btn btn-default btn-sm pull-left" ui-sref="students">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="step == 2">
                <div>
                    <ul class="progress-indicator">
                        <li class="completed">
                            <span class="bubble"></span> Step 1. </li>
                        <li class="completed">
                            <span class="bubble"></span> Step 2. </li>
                    </ul>
                </div>
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Confirm Details</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="students" class="table-responsive">
                        <table class="table table-condensed  table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th> </th>
                                    <th>Admission Number</th>
                                    <th>Surname</th>
                                    <th>Other Names</th>
                                    <th>Phone Number #1</th>
                                    <th>Phone Number #2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="student in students track by $index">
                                    <td ng-class="student.valid ? 'text-success' : 'text-danger'">
                                        <i ng-class="student.valid ? 'fa fa-check-circle' : 'fa fa-times-circle'"></i>
                                    </td>
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <span ng-if="!student.studentId">_</span>
                                        <span ng-if="student.studentId">{{student.studentId}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="!student.surname">Invalid</span>
                                        <span ng-if="student.surname">{{student.surname}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="!student.surname">Invalid</span>
                                        <span ng-if="student.surname">{{student.otherNames}}{{student.othernames}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="!student.phone1 ">Invalid</span>
                                        <span ng-if="student.phone1">{{student.phone1}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="!student.phone2">_</span>
                                        <span ng-if="student.phone2">{{student.phone2 }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="display" class="block">
                        <span>Successful: {{ success }}</span>
                        <div class="progress progress-mini progress-striped">
                            <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="{{successPercent}}%" ng-style="{ 'width': successPercent + '%' }">
                            </div>
                        </div>
                        <span>Failed: {{ failed }}</span>
                        <div class="progress progress-mini progress-striped">
                            <div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-original-title="{{failedPercent}}%" ng-style="{ 'width': failedPercent + '%' }">
                            </div>
                        </div>
                    </div>
                </div>
                <footer ng-if="!done" class="panel-footer">
                    <button ng-disabled="submitting" ng-if="students;countinvalid==0" ng-hide="done" type="button" ng-click="completeUpload(students)"
                        class="btn btn-sm btn-primary pull-right">
                        <span ng-if="submitting">Submitting...</span>
                        <span ng-if="!submitting">Confirm Upload</span>
                    </button>
                    <button class="btn btn-default btn-nav pull-left" ng-if="students" ng-click="clearStudents()">Cancel and Reupload </button>
                </footer>
                <footer ng-if="done" class="panel-footer">
                    <button class="btn btn-default btn-nav pull-left" ng-click="clearStudents()" ui-sref="students">Close </button>
                </footer>
            </div>
        </div>

    </div>
    </div>

</section>