<section id="content">
    <div class="main padder">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 m-t-large">
                <section class="panel">
                    <header class="panel-heading text-center"> Sign in </header>
                    <h5>{{errorMessage}}</h5>
                    <form ng-submit="LC.loginUser()" class="panel-body">
                        <div class="block">
                            <label class="control-label">Username</label>
                            <input type="text" placeholder="Username" ng-model="username" class="form-control"> </div>
                        <div class="block">
                            <label class="control-label">Password</label>
                            <input type="password" ng-model="password" id="inputPassword" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" ng-disabled="!username || !password" class="btn btn-info btn-block">Sign in</button>
                        <div class="line line-dashed"></div>
                        <a href="#" class="pull-right m-t-mini"><small>Forgot password?</small></a>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>
