<div class="row" style="min-height: 700px">
        <div class="col-md-6 center" style="margin-top:10%; ">
            <div class="login-box panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-10 col-sm-offset-3 ">
                                    <label class="panel-title">Sure you want to log out?</label>
                                </div>
                            </div>
                            <br/>
                            <div class="col-xs-12 text-center">
                                <a class="btn btn-success" ui-sref="dashboard">Cancel</a>
                                <a class="btn btn-danger" href="" ng-click="logout()">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>