<section class="animated fadeInLeft">
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-money"></i> Fee Payment
            </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title">Add Payment: {{student.surname}} {{student.otherNames}}</h3>
                </header>

                <body class="panel-body">

                    <div class="form-group">
                        <label>Student</label>
                        <button ng-click="searchActive=true" class="btn btn-xs btn-primary">Select Student</button>
                        <p ng-if="student">Selected Student: {{student.surname}} {{student.otherNames}}</p>
                    </div>
                    <section ng-if="searchActive">
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="searchText" type="text" class="input-sm form-control" placeholder="Search Student">
                                <span class="input-group-btn">
                                    <button ng-click="search(searchText)" class="btn btn-sm btn-primary" type="button">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </span>
                            </div>

                            <div ng-if="students" class="table-responsive">
                                <h3>Search Results for:
                                    <strong>{{searchText}}</strong>
                                </h3>
                                <table class="table table-responsive table-hover">
                                    <thead>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Select</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in students | filter:searchText">
                                            <td>{{item.surname}} {{item.otherNames}}</td>
                                            <td>
                                                {{item.className}} - {{item.streamName}}
                                            </td>
                                            <td>#1. - {{item.phone1}} , #2. - {{item.phone2}}</td>
                                            <td>
                                                <button ng-click="selectStudent(item)" class="btn btn-default btn-sm">
                                                    Select
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </section>
                    <section ng-if="!searchActive">
                        <div class="form-group">
                            <div ng-if="student" class="row">
                                <div class="col-md-4">
                                    <label>Term</label>
                                    <select class="form-control" ng-change="setTerm(payment.term)" ng-model="payment.term">
                                        <option value="1"> One </option>
                                        <option value="2"> Two </option>
                                        <option value="3"> Three </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Year</label>
                                    <select class="form-control" ng-change="setYear(payment.year)" ng-model="payment.year">
                                        <option value="2017"> 2017 </option>
                                        <option value="2018"> 2018 </option>
                                        <option value="2019"> 2019 </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <loading-spinner ng-if="loading"></loading-spinner>
                                    <span ng-if="fee.amountToPay">
                                        <label>Amount Required for Term {{payment.term}}, {{payment.year}}</label>
                                        <p ng-if="fee.amountToPay">Ksh. {{fee.amountToPay}}</p>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <section ng-if="fee">
                            <div class="form-group">
                                <label>Amount Paid</label>
                                <input type="text" class="form-control" ng-model="payment.amountPaid">
                            </div>
                            <div class="form-group">
                                <label>Payment Reference</label>
                                <input type="text" class="form-control" ng-model="payment.reference">
                            </div>
                            <div class="form-group">
                                <label>Paid By</label>
                                <input type="text" class="form-control" ng-model="payment.paidBy">
                            </div>
                            <div class="form-group">
                                <label>Balance</label>
                                <input ng-if="payment.balance != null" disabled type="text" class="form-control" ng-model="payment.balance">
                            </div>
                            <div ng-if="payment.balance > 0" class="form-group">
                                <label>Balance Deadline</label>
                                <input type="date" class="form-control" ng-model="payment.balanceDeadline">
                            </div>
                        </section>
                    </section>

                </body>
                <footer class="panel-footer">
                    <div class="row">
                        <button type="button" ng-click="save()" class="btn btn-sm btn-primary pull-left">Save</button>
                        <button type="button" class="btn btn-sm btn-default pull-right" onclick="(history.go(-1))">Close</button>
                    </div>
                </footer>
            </section>
        </div>

    </div>
</section>