<section class="animated fadeInRight">
    <div id="non-print" class="col-xs-12 col-sm-12 col-md-12">
        <a class="btn btn-default xlarge-text pull-right" onclick="print('invoice')">
            <i class="fa fa-print"></i>
        </a>
        <a class="btn btn-default xlarge-text pull-left" onclick="(history.go(-1))">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>
    <div id="invoice" class="col-xs-12 col-sm-12 col-md-12 ">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <span class="text-center">
                            Kidfarmaco Primary School
                            <br> P.O Box 450-00902,Kikuyu
                            <br> School's Motto: Education For Life
                        </span>
                        <span class="pull-right">
                            <strong>Payment Number:# {{payment.id}}</strong>
                        </span>
                        <hr>
                    </div>

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong>Student Information</strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Student:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                {{payment.studentName}}
                                            </p>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Class:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                <span>
                                                    {{payment.className}} - {{payment.streamName}}
                                                </span>
                                            </p>
                                        </td>

                                        <td class="text-right">
                                            <strong>Student ID:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                {{payment.studentId}}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong>Payment Information</strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Amount:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                Ksh. {{payment.amountPaid}}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Term:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                {{payment.term}} - {{payment.year}}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Payment Reference:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                <span>
                                                    {{payment.reference}}
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="text-right">
                                            <strong>Paid By:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                {{payment.paidBy}}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="text-right">
                                            <strong>Balance:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                Ksh. {{payment.balance}}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="payment.balanceDeadline!='null'">

                                        <td class="text-right">
                                            <strong>Balance should be paid by:</strong>
                                        </td>
                                        <td>
                                            <p class="text-left">
                                                {{payment.balanceDeadline | dateToHuman}}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script>
        function print(el) {
            //Get the HTML of div
            var divElements = document.getElementById(el).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            //document.body.innerHTML = oldPage;


            // var restorepage = $('body').html();
            // var printcontent = $('#' + el).clone();
            // $('body').empty().html(printcontent);
            // window.print();
            // $('body').html(printcontent);
        }
    </script>
</section>