<section class="animated fadeInLeft">
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-bar-chart-o"></i> Reports
            </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel-group" id="accordion">
                <loading-spinner ng-if="!classes && !streams"></loading-spinner>

                <section ng-if="classes && streams" class="panel panel-default">
                    <div ng-click="invert()" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="hand panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-filter"></i> Filters: {{narrative}}
                            <i ng-class="display ? 'fa fa-caret-up pull-right' : 'fa fa-caret-down pull-right'"></i>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Class</label>
                                    <select class="form-control" ng-model="filters.class">
                                        <option ng-repeat="cla in classes" value="{{cla}}"> {{cla.name}} </option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Stream</label>
                                    <select class="form-control" ng-model="filters.stream">
                                        <option ng-repeat="str in streams" value="{{str}}"> {{str.name}} </option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Term</label>
                                    <select class="form-control" ng-change="setTerm(filters.term)" ng-model="filters.term">
                                        <option value="1"> One </option>
                                        <option value="2"> Two </option>
                                        <option value="3"> Three </option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>Year</label>
                                    <select class="form-control" ng-change="setYear(filters.year)" ng-model="filters.year">
                                        <option value="2017"> 2017 </option>
                                        <option value="2018"> 2018 </option>
                                        <option value="2019"> 2019 </option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <br>
                                    <label>Payment Status </label>
                                    <br>
                                    <a ng-click="filters.paid = true" class="btn btn-success">
                                        <i ng-class="filters.paid == true ? 'fa fa-check-circle' : 'fa fa-circle-o'"></i> Paid
                                    </a>
                                    <div ng-click="filters.paid = false" class="btn btn-success">
                                        <i ng-class="filters.paid == false? 'fa fa-check-circle' : 'fa fa-circle-o'"></i> Unpaid
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="row col-md-12">
                                <button ng-click="initiliseFilters()" type="button" class="btn btn-sm btn-default pull-left">Clear Filters</button>
                                <button data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" ng-click="filter(filters);invert()" type="button"
                                    class="btn btn-sm btn-primary pull-right">Go</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <section ng-if="filters.paid">
        <div ng-if="payments " class="row">
            <th class="col-lg-12">
                <section class="panel panel-default">
                    <header class="panel-heading caps">
                        <span ng-if="loading">Loading</span> Payments
                        <span class="pull-right badge badge-primary">{{totalItems}}</span>
                    </header>
                    <div ng-if="students" class="panel-body">
                        <div class="row text-small">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <input ng-model="filterText" type="text" class="input-sm form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button disabled="true" class="btn btn-sm btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 m-b-mini pull-right">
                                <select ng-model="itemsPerPage" class="input-sm inline form-control" style="width:130px">
                                    <option ng-click="itemsPerPage = 10">10</option>
                                    <option ng-click="itemsPerPage = 25">25</option>
                                    <option ng-click="itemsPerPage = 50">50</option>
                                    <option ng-click="itemsPerPage = 100">100</option>
                                </select>
                                <span>({{itemsPerPage}}) Items Per Page</span>
                            </div>
                        </div>
                        <hr>
                        <loading-spinner ng-if="loading"></loading-spinner>
                        <div ng-if="!loading" class="table-responsive">
                            <table class="table table-responsive table-hover table-condensed text-small">
                                <thead>
                                    <div>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Payments</th>
                                        <th>Total</th>
                                        <!-- <th>Balance</th> -->
                                    </div>
                                </thead>
                                <tbody>
                                    <tr dir-paginate-start="payment in payments | itemsPerPage: itemsPerPage | filter:filterText">
                                        <td>
                                            <a ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index]" class="btn btn-xs btn-link">
                                                <i class="fa fa-caret-right"></i>
                                            </a>
                                        </td>
                                        <td>{{payment.studentId}}</td>
                                        <td class="caps">
                                            {{payment.studentName }}
                                        </td>
                                        <td>{{payment.className}} {{payment.streamName}}</td>
                                        <td>
                                            <span class="badge">
                                                {{payment.countPayments}}
                                            </span>
                                        </td>
                                        <!-- <td>{{payment.balance}}</td> -->
                                        <td>Ksh. {{payment.amountPaid}}</td>
                                    </tr>
                                    <tr dir-paginate-end class="bg-row" ng-if="toggle[$index]">
                                        <td>
                                        </td>
                                        <td colspan="7">
                                            <b>Payment History</b>
                                            <br>
                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <th>
                                                        <strong>Date</strong>
                                                    </th>
                                                    <th class=" text-right">
                                                        <strong>Paid By</strong>
                                                    </th>
                                                    <th class=" text-right">
                                                        <strong>Payment Reference</strong>
                                                    </th>
                                                    <th class=" text-right">
                                                        <strong>Term</strong>
                                                    </th>
            </th>
            <th class=" text-right">
                <strong>Amount Paid</strong>
            </th>
            <th class=" text-right">
                <strong>Balance</strong>
            </th>
            </thead>
            <tbody>
                <tr ng-repeat="pay in payment.details">
                    <td>{{pay.date}}</td>
                    <td>{{pay.paidBy}}</td>
                    <td>{{pay.reference}}</td>
                    <td>{{pay.term}},{{pay.year}}</td>
                    <td class=" text-right">Ksh. {{pay.amountPaid}}</td>
                    <td class=" text-right">Ksh. {{pay.balance}}</td>
                </tr>
            </tbody>
            </table>

            </td>

            </tr>
            </tbody>
            </table>
            </div>
            </div>
            <footer class="panel-footer">
                <div class="row">

                    <div class="col-sm-6 text-left">
                        <small class="text-muted inline m-t-small m-b-small">showing {{payments.length}} of {{totalItems}} items</small>
                    </div>

                    <div class="col-sm-6 text-right text-center-sm">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </footer>
            </section>
        </div>
    </section>
    <section ng-if="!filters.paid">
        <div ng-if="list"   class="row">
            <th class="col-lg-12">
                <section class="panel panel-default">
                    <header class="panel-heading caps">
                        <span ng-if="loading">Loading</span> Unpaid fees for term {{filters.term}} {{filters.year}}
                        <span class="pull-right badge badge-primary">{{list.length}}</span>
                    </header>
                    <div ng-if="list" class="panel-body">
                        <div class="row text-small">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <input ng-model="filterText" type="text" class="input-sm form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button disabled="true" class="btn btn-sm btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 m-b-mini pull-right">
                                <select ng-model="itemsPerPage" class="input-sm inline form-control" style="width:130px">
                                    <option ng-click="itemsPerPage = 10">10</option>
                                    <option ng-click="itemsPerPage = 25">25</option>
                                    <option ng-click="itemsPerPage = 50">50</option>
                                    <option ng-click="itemsPerPage = 100">100</option>
                                </select>
                                <span>({{itemsPerPage}}) Items Per Page</span>
                            </div>
                        </div>
                        <hr>
                        <loading-spinner ng-if="loading"></loading-spinner>
                        <div ng-if="!loading" class="table-responsive">
                            <table class="table table-responsive table-hover table-condensed text-small">
                                <thead>
                                    <div>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Fee Required </th>
                                        <th>Total Paid</th>
                                        <th>Balance</th>
                                    </div>
                                </thead>
                                <tbody>

                                    <tr dir-paginate="data in list | itemsPerPage : itemsPerPage">
                                        <td>{{data.student.id}}</td>
                                        <td>{{data.student.surname}} {{data.student.otherNames}}</td>
                                        <td>{{data.student.className}} {{data.student.streamName}}</td>
                                        <td>{{data.fee.amountToPay}}</td>
                                        <td>{{data.paid}}</td>
                                        <td>{{data.fee.amountToPay - data.paid}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">

                            <div class="col-sm-6 text-left">
                                <small class="text-muted inline m-t-small m-b-small">showing {{itemsPerPage}} of {{totalItems}} items</small>
                            </div>

                            <div class="col-sm-6 text-right text-center-sm">
                                <dir-pagination-controls></dir-pagination-controls>
                            </div>
                        </div>
                    </footer>
                </section>
        </div>
    </section>
</section>