<section class="animated fadeInLeft">
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-gears"></i> Fee Setup
            </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-default">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h3 class="panel-title">Setup Fees for classes</h3>
                    </header>
                    <div class="panel-body">

                        <div class="col-md-6">
                            <label>Term</label>
                            <select class="form-control" ng-change="setTerm(term)" ng-model="term">
                                <option value="1"> One </option>
                                <option value="2"> Two </option>
                                <option value="3"> Three </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Year</label>
                            <select class="form-control" ng-change="setYear(year)" ng-model="year">
                                <option value="2017"> 2017 </option>
                                <option value="2018"> 2018 </option>
                                <option value="2019"> 2019 </option>
                            </select>
                        </div>
                        <loading-spinner ng-if="loading"></loading-spinner>
                        <div class="col-md-12">
                            <h3>
                                <br>{{narrative}}
                                <br>
                            </h3>
                        </div>

                        <div ng-if="!loading && setups.length > 0" class="table-responsive">
                            <table class="table table-responsive table-hover">
                                <thead>
                                    <th>Class</th>
                                    <th>Amount</th>
                                    <th>Confirm</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="setup in setups">
                                        <td>
                                            {{setup.className}}
                                        </td>
                                        <td>
                                            <input ng-if="!setup.saved || setup.editable " type="text" ng-model="setup.amountToPay" class="form-control" placeholder="Amount to pay for {{setup.className}}">
                                            <label ng-if="setup.saved || !setup.editable">{{setup.amountToPay}}</label>
                                        </td>
                                        <td>
                                            <button ng-if="setup.saved" ng-disabled="!setup.amountToPay" ng-click="setup.editable=true;setup.saved=false;" class="btn btn-default btn-sm">
                                                Edit
                                            </button>
                                            <span>
                                                <i ng-if="setup.saved && !setup.editable" class="fa fa-check"></i>
                                                <button ng-if="!setup.saved" ng-disabled="!setup.amountToPay" ng-click="setup.saved=true;setup.editable=false;" class="btn btn-default btn-sm">
                                                    Confirm
                                                </button>
                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <button ng-if="action=='add'" type="button" ng-click="save()" class="btn btn-sm btn-primary pull-left">Save</button>
                            <button ng-if="action=='edit'" type="button" ng-click="save()" class="btn btn-sm btn-primary pull-left">Save Changes</button>
                            <button type="button" class="btn btn-sm btn-default pull-right" onclick="(history.go(-1))">Close</button>
                        </div>
                    </footer>
                </div>


            </section>
        </div>

    </div>
</section>