@media (min-width: 1200px){
.container {
    width: 98%;
}
}

.btn-sm,.panel,.btn-xs {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.summary-primary {
  color: #0d70ae;
  
}
.summary-success {
  color: #3e9f5d;
}
.summary-warning {
  color: #cc8600;  
}
.summary-danger {
  color: #f1592a; 
}
.summary-info {
  color: #0086a7;  
}
.summary-primary {
  color: #0d70ae; 
}

.custom-nav > li.active > a>i, .custom-nav > li.active > a:hover>i, .custom-nav > li.active > a:focus>i {
	 color: #f1592a; 
}
.custom-nav > li.active > a, .custom-nav > li.active > a:hover, .custom-nav > li.active > a:focus {
  color: #0f75bc;
}

.page-title{
  color: #0f75bc;
}
.page-title > h2>i{
		 color: #f1592a; 

}
.badge-warning{
	background-color: #f1592a;
}
@media screen and (max-width: 768px) {
  .navbar-side-menu-toggle{
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navbar-side-menu-toggle{
    display: none;
  }
}

.panel-success {
  border-left-color: #43965e;
}

.panel-info {
  border-left-color: #008cae;
}

.panel-warning {
  border-left-color: #cc8600;
}

.panel-danger {
  border-left-color: #b23c29;
} 

.panel-primary {
  border-left-color: #118fdd;
} 

.btn{
  border-radius: 0;
  border-left: 1px solid transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);

}

.btn-default {
  border-left-color: #555555;
}
.btn-success {
  border-left-color: #43965e;
}

.btn-info {
  border-left-color: #008cae;
}

.btn-warning {
  border-left-color: #cc8600;
}

.btn-danger {
  border-left-color: #b23c29;
} 

.btn-primary {
  border-left-color: #118fdd;
} 
 
.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);

}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}
.caps{
  text-transform: capitalize;
}

.full{
  margin-left:10px;
}
@media print {
  #non-print { display: none; }
  #invoice { 
      display: block; 
  }
}