<section class="animated fadeInRight">
    <loading-spinner ng-if="loading"></loading-spinner>
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-search"></i>
                {{narrative}}
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">
                    {{narrative}}
                </h3>
            </header>
            <div class="panel-body">
                <div class="list-group list-normal m-t-n-xmini scroll-y scrollbar">
                    <a ui-sref="studentdetail({id : student.id})" ng-repeat="student in students | filter:searchParam" class="list-group-item bg">
                        <small class="pull-right text-muted">
                            <i class="fa fa-chevron-circle-right "></i>
                        </small>
                        <strong>{{student.otherNames }} {{student.surname }}</strong>
                        <small>
                            [ {{student.studentid}} ]
                        </small>
                        <br>
                        <small>{{student.className }} {{student.streamName }} </small>
                        <br>
                        <small>{{student.phone1 }} </small>

                        <small ng-if="student.phone2">- {{student.phone2 }} </small>
                        <br>
                    </a>
                </div>

            </div>
        </div>
    </div>

</section>