<section class="animated fadeInRight">
    <loading-spinner ng-if="loading"></loading-spinner>
    <div class="row">
        <div class="col-md-12 page-title">
            <h2>
                <i class="fa fa-user fa-fw"></i> {{title}}
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </header>
            <div ng-if="!loading" class="panel-body">
                <div class="row col-md-12">
                    <div class="block">
                        <label class="control-label">First Name</label>
                        <input type="text" ng-model="user.firstName" class="form-control" placeholder="First Name">
                    </div>
                    <div class="block">
                        <label class="control-label">Last Name</label>
                        <input type="text" ng-model="user.lastName" class="form-control" placeholder="Last Name">
                    </div>

                    <div ng-if="action=='add'" class="block">
                        <label class="control-label">Username </label>
                        <input type="text" ng-model="user.username" ng-change="checkUsername(user)" class="form-control" placeholder="UserName">
                        <span ng-if="checkingUsername" class="fa fa-spinner fa-spin"></span>
                        <span ng-if="!checkingUsername">
                            <small ng-if="!checkingUsername" class="text-info">{{usernameResponse}} </small>
                        </span>
                    </div>

                    <div ng-if="action=='add'" class="block">
                        <label class="control-label">Password</label>
                        <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
                    </div>

                    <div ng-if="action=='add'" class="block">
                        <label class="control-label">Confirm Password</label>
                        <input ng-change="checkPassword(user)" type="password" ng-model="user.cpassword" class="form-control" placeholder="Confirm Password">
                        <small ng-if="!checkingUsername" class="text-info">{{passwordResponse}} </small>
                    </div>
                    <div class="block">
                        <label class="control-label">User Type</label>
                        <br>
                        <button class="btn btn-primary" ng-click="setUserType(0)" type="">
                            <i ng-class="userType == 0 ? 'fa fa-check-circle' : 'fa fa-circle-o'"></i> Admin
                        </button>
                        <button class="btn btn-primary" ng-click="setUserType(1)" type="">
                            <i ng-class="userType == 1 ? 'fa fa-check-circle' : 'fa fa-circle-o'"></i> Clerk
                        </button>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <button ng-if="action=='add'" type="button" ng-click="save(user)" class="btn btn-sm btn-primary pull-left">Save</button>
                    <button ng-if="action=='edit'" type="button" ng-click="save(user)" class="btn btn-sm btn-primary pull-left">Save Changes</button>
                    <button type="button" class="btn btn-sm btn-default pull-right" onclick="(history.go(-1))">Close</button>
                </div>
            </footer>
        </div>
    </div>
</section>
