<section class="animated fadeInLeft">
    <div class="container-fluid container-padded">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">
                            <i class="ion ion-bag"></i> School Information
                        </h3>
                    </div>
                    <div class="panel-body panel-body-primary panel-body-no-br">
                        <h1 class="m-0 text-center">
                            <span class="stat-value-lg"> Kidfarmaco Primary </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h3 class="panel-title">
                                    <i class="ion ion-bag"></i> Summary Information
                                </h3>
                            </div>
                            <div class="list-group no-top-border">
                                <a class="list-group-item">
                                    <span class="badge badge-warning">{{totalStudents}}</span>
                                    <i class="ion ion-person-stalker"></i> Total Students
                                </a>
                                <a class="list-group-item">
                                    <span class="badge badge-warning">{{totalClasses}}</span>
                                    <i class="ion ion-home"></i> Total Classes
                                </a>
                                <a class="list-group-item">
                                    <span class="badge badge-warning">{{totalStreams}}</span>
                                    <i class="ion ion-home"></i> Total Streams
                                </a>
                                <a class="list-group-item">
                                    <span class="badge badge-warning">{{totalUsers}}</span>
                                    <i class="fa fa-users"></i> Users
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body panel-body-success panel-body-top-br">
                                <div class="panel-desc">
                                    <span class="text-dark">
                                        <i class="fa fa-bar-chart-o"></i> Payments Summary for term {{term}} {{year}}</span>
                                </div>
                            </div>
                            <div class="has-scroll">
                                <table class="table table-striped table-y-border">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label>Term</label>
                                                <select class="form-control" ng-change="setTerm(term)" ng-model="term">
                                                    <option value="1"> One </option>
                                                    <option value="2"> Two </option>
                                                    <option value="3"> Three </option>
                                                </select>
                                            </th>
                                            <th>
                                                <label>Year</label>
                                                <select class="form-control" ng-change="setYear(year)" ng-model="year">
                                                    <option value="2017"> 2017 </option>
                                                    <option value="2018"> 2018 </option>
                                                    <option value="2019"> 2019 </option>
                                                </select>
                                            </th>

                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th>Amount Required</th>
                                            <th>Amount Paid</th>
                                            <th>Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size: 2em;">
                                            <td>
                                                <span class="text-primary">{{amountRequired | currency : ""}}</span>
                                            </td>
                                            <td>
                                                <span class="text-success">{{amountPaid | currency : ""}}</span>
                                            </td>
                                            <td>
                                                <span class="text-danger">{{(amountRequired - amountPaid) | currency : ""}}</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>